pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.shadow-cljs
.nrepl-port
.calva
.clj-kondo/.cache
public/js
public/css
yarn-error.log
report.html
node_modules
*.pem
